@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&family=M+PLUS+1:wght@300&family=Mochiy+Pop+P+One&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,100&display=swap');

* {
    font-family: 'Poppins', 'sans-serif';
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    list-style: none;
}

:root {
    --blue: #29d9d5;
    --black: #111;
    --white: #fff;
    --light-clr: #aaa;
    --bg-clr: #222;
    --bg-black: rgba(17, 17, 17, .7);

    --border: .2rem solid var(--blue);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--bg-clr);
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
}

body {
    background: var(--black);
    overflow-x: hidden;
}
section{
    padding: 3rem 9%;
}
.heading{
    text-align: center;
    margin-top: 11rem;
}
.heading span{
    color: var(--blue);
    font-size: 2rem;
}
.heading h1{
    font-size: 4rem;
    color: var(--white);
    margin-top: .5rem;
}
.btn {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: var(--blue);
    border: var(--border);
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--blue);
    color: var(--black);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: var(--bg-clr);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.2rem 9%;
}

.header ul {
    display: flex;
}

.header .logo {
    font-size: 2rem;
    color: var(--white);
    font-weight: bolder;
}

.header i {
    color: var(--blue);
    padding-right: .5rem;
}

.header .links a {
    font-size: 1.7rem;
    color: var(--light-clr);
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: var(--blue);
}
.wrapper{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%, -20%);
  }
  .wrapper .icon{
    margin:20px;
  }

#menu-btn{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    display: none;
}
.home{
    margin: 0 auto;
    margin-top: 9rem;
    width: 90%;
    border-radius: 1rem;
    background: url(images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:80vh;
}
.home .content{
    text-align: center;
}
.home span{
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: .1rem var(--white);
    font-size: 6rem;
    display: block;
}
.home h3{
    font-size:8rem;
    color: var(--white);
}
.home p{
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: var(--light-clr);
}
.book-form{
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: var(--bg-clr);
    border-radius:1rem;
    box-shadow: 0 .5rem 1rem rgba(17, 17, 17, .3);
    padding: 2rem 1.8rem;
}
.book-form form{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap; 
    gap: 1.5rem; 
}
.book-form form .inputBox{
    flex: 1 1 20rem;
}
.book-form span{
    font-size: 1.4rem;
    color: var(--light-clr);
}
.book-form input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: var(--border);
    font-size: 1.6rem;
    color: var(--light-clr);
    text-transform: none;
    background: none;
}
.book-form form .btn{
    flex: 1 1 10rem;
}

.about .video-container .video{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 2rem;
}
.about .video-container .video video{
width: 50%;
}
.about .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section .controls{
    text-align: center;
    padding-top: 1rem;
}
.controls span{
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: var(--white);
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}
.controls span:hover{
    background: var(--blue);
    font-size: 0.3rem;
}
section .content h3{
    font-size: 3rem;
    color: var(--white);
}
section .content p{
    font-size: 1.2rem;
    color: var(--light-clr);
    padding-bottom: 1rem;
}
.destination .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}
.destination .box{
    border-radius: 1rem;
    overflow: hidden;
    background:var(--bg-clr);
}
.destination .box-container .box  .images{
    height: 20rem;
    overflow: hidden;
    width: 100%;
}
.destination .box .images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.destination .box .images img:hover{
    transform: scale(1.1);
}
.destination .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.destination .box-container .box .content p{
    font-size:1.4rem;
    color: var(--light-clr);
    line-height: 2;
}
.destination .box-container .box .content a{
    font-size: 1.7rem;
    color: var(--blue);
    border-bottom: 1px solid #29d9d5;
}
.destination .box-container .box .content a:hover{
    border-bottom: none;
    transition: 5s;
}
.services .box-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.services .box-container .box{
    background-color: var(--bg-clr);
    border-radius: 1rem;
    padding: 3rem 1rem;
    margin: 1rem 1rem;
}
.services .box-container .box:hover{
    border: 1px solid #29d9d5;
    cursor: pointer;
}
.services .box-container .box i{
    color: var(--blue);
    font-size: 4rem;
}
.services .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.services .box-container .box p{
    color: var(--light-clr);
    line-height: 2;
}
.gallery .box-container{
    columns: 3 25rem;
    column-gap: 1.5rem;
}
.gallery .box-container .box{
    margin-bottom: 1rem;
    break-inside: avoid;
    text-align: center;
}
.gallery .box-container .box img{
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.gallery .box-container .box > h3 , i{
    font-size: 2rem;
    color: var(--white);
}
.gallery .box-container .box i:hover{
    color: var(--blue);
    transform: translateX(1rem);
    cursor: pointer;
}
.banner{
    background: url(images/banner-bg.jpg) no-repeat;
    opacity: 1;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 4rem 3rem;
}
.banner .content span{
    color: var(--light-clr);
    font-size: 2rem;
}
.banner .content h3{
    color: var(--white);
    font-size: 3rem;
}
.banner .content p{
    color: var(--black);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 5rem;
}
.footer .box-container .box{
    display: flex;
    flex-direction: column;
}
.footer  .box-date{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #29d9d5;
}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
}
.footer .box-container .box p{
    color: var(--light-clr);
    font-size: 1.5rem;
}
.footer .box-container .box .share a{
    color: var(--blue);
    font-size: 1.5rem;
    border: 1px solid #29d9d5;
    border-radius: 50%;
    margin: 0.5rem 0.5rem;
    padding: 1rem 1rem;
}
.footer .box-container .box a{
    color: var(--light-clr);
    font-size: 1.5rem;
}
.footer .box-container .box a:hover{
    color: var(--white);
    transform: scale(1.1);
}
.footer .box-container .box i{
    color: var(--blue);
    margin-right: 0.3rem;
}
.footer .box-container .box form .emailInput{
    border: 1px solid #29d9d5;
    border-radius: 5rem;
    background: none;
    font-size: 1.7rem;
}






















@media (max-width:1200px){
    .footer .box-container .box p{
        font-size: 1.1rem;
    }
    .footer .box-container .box a{
        font-size: 1.1rem;
    }
    .footer .box-container .box .share a{
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 0.5rem;
    }

}




@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .first {
        display: none;
    }
    .section{
        padding: 3rem 9%;
    }
    .nav-toggle {
        display: unset;
    }
    .links-container .links {
        display: flex;
    }

    .links-container .links a {
        display: block;
    }
    section .content h3{
        font-size: 2.5rem;
    }
}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background: var(--bg-clr);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        z-index: 3;
    }
    .header .navbar a{
        font-size: 2rem;
    }
    .header .navbar .active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header ul{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .header li{
        padding: 1rem 1rem;
    }
    .home h3{
        font-size: 6.5rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .home h3{
        font-size: 4rem;
    }
    .home span{
        font-size: 4.2rem;
    }
    .home p{
        font-size: 2.2rem;
    }
}